/*
	Animal Crossing: New Leaf Save Editor v20250312
	by Marc Robledo 2015-2025
*/
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:normal;src:local('Noto Sans'),local('NotoSans'),url('./NotoSans.woff2') format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:bold;src:local('Noto Sans Bold'),local('NotoSans-Bold'),url('./NotoSansBold.woff2') format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000}
@font-face{font-family:'Noto Sans';font-style:italic;font-weight:normal;src:local('Noto Sans Italic'),local('NotoSans-Italic'),url('./NotoSansItalic.woff2') format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000}

:root{
	--font-monospace: 'Roboto Mono', 'Consolas', monospace;
}


body{
	font:15px 'Noto Sans', sans-serif;
	background-color:#d0ddcf;
	margin:0;

	-webkit-touch-callout:none;
	user-select:none;
	overflow-y:scroll;
}
.text-center{text-align:center}
.hidden{display:none}
.mono{font-family:var(--font-monospace)}

hr{border:none;border-top:1px solid #ccc;max-width:50%}
h3{
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin:0 0 10px;
	color:#3c7748;
}
.warning{
	font-weight:bold;
	padding:2px 12px;
	border-radius:3px;
	background-color:#ffea00;
	color:black;
}

table{border-collapse:collapse}
th{color:#ccc;font-weight:bold}
td,th{padding:8px 10px}
td.count{color:#ddd;font-size:80%;font-weight:bold;text-align:right}






/* SPRITES */
.sprite{background-image:url('sprites.png');background-repeat:no-repeat}
span.sprite{display:inline-block;vertical-align:middle}
.sprite.flag{
	width:16px;height:11px;
	background-position:0px 0px;
}
.sprite.save-icon{width:16px;height:12px;background-position:-96px -736px}
.sprite.edit-icon{width:16px;height:16px;background-position:-144px -736px}
.sprite.edit-icon2{width:16px;height:16px;background-position:-160px -736px;margin-right:4px;}
.sprite.heart{width:24px;height:22px;background-position:-112px -736px}
.logo{background-image:url('logo.png');display:inline-block;background-size:100% 100%;background-repeat:no-repeat}


/* HOME */
#home{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;

	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#467845;
	background:radial-gradient(#59a158,#366835);
}
#home-wrapper{
	max-width:640px;
	flex-grow:1;
}

#title, #footer{
	text-shadow:#093a0a 0 0 8px;
	text-align:center;
}
#title a, #footer a{
	color:white;
}
#title a:hover, #footer a:hover{
	color:#a0fba2;
}
#title{
	color:white;
	margin-bottom:30px;
}

#title .logo{width:80px; height:80px;}
#title h1{margin:4px 0 0;font-size:145%}
#anniversary{
	font-size:110%;
	margin-top:6px;
	color:#ecff68;
	text-decoration: underline;
}
#anniversary:hover{
	cursor:pointer;
	color:#e9ffd3;
	text-decoration: underline;
}
#dialog-anniversary{
	text-align:justify;
}
#last-update{margin-top:6px; font-size:85%; color:#8cc98d}
#footer{
	color:#8cc98d
}
#footer svg{
	vertical-align:middle;
	height:16px;
}



#home .block{
	margin-bottom:32px;
	padding:20px;
	color:black;
	text-shadow:initial;
	border-radius:4px;
	line-height:2.5;
	background-color:#fafafa;
	overflow:hidden;
	visibility:visible;
	text-align:center;
}
#block-warning{
	border-radius:4px;
	background-color:#ffe4e4;
	color:#c62323;
	margin-bottom:20px;
}






#help{
	margin-top:12px
}
#lang-flag{position:relative;left:6px;}
#lang-selector{background-color:transparent;border-color:#f0f0f0;vertical-align:middle;padding-left: 28px;	margin-left: -20px;}
#lang-selector:hover{background-color:transparent;border-color:#bdb;vertical-align:middle}
.home-block{
	max-width:640px;
	padding:20px 0;
	color:black;
	text-shadow:initial;
	text-align:center;
	border-radius:8px;
	line-height:3;
	margin:40px auto 0;
	background-color:#fafafa
}
/*
#load{margin-top:80px}
#load hr{max-width:none;border:none;border-bottom:1px dotted #408041}
#load b{color:red;display:block;line-height:2;margin-bottom:20px}
#load a{color:#408041;font-weight:bold}
#load a:hover{color:#a6e1a7}
*/
#open-savegame-button{
	display:flex;
	font-size:120%;
	gap:16px;
	align-items:center;
	margin:0 auto;
	padding: 20px 30px;
}
#open-savegame-button svg{
	height:36px;
	filter: drop-shadow(0px -1px 0px #37a137);
}
#open-savegame-button small{
	color: #afeaaf
}



#contribute{
	margin-bottom:30px;
	overflow:hidden;
	color:white;
	text-decoration:none;
	display:block;
	background-color:#152b3c;
	background-color:rgba(18,18,18,.6);
	padding:20px 16px;
	font-style:italic;
	border-radius:4px;
	font-size:110%;
	text-align:center;
}
#contribute:hover{background-color:rgba(18,18,18,.7)}
#contribute #donate-button{
	text-shadow:0 -1px 0 #982063 !important;
	text-decoration:none;
	color:white;
	border-radius:3px;
	margin-left:10px;
	font-style:normal;
	font-weight:bold;
	padding:10px 18px 10px 18px;

	background:radial-gradient(#ff559c,#a92a6b);
	border-bottom:3px solid #7a1f39;

	animation:buttonglow 1s infinite;
}
#contribute:hover .donate{background-color:#3e903e}
@keyframes buttonglow{
	0%{box-shadow:none}
	50%{box-shadow:#ffa8cd 0 0 10px inset;border-bottom-color:#aa3d75;}
	100%{box-shadow:none}
}





.margin-top-lg{
	margin-top:72px;
}
.margin-top-md{
	margin-top:48px;
}
.margin-top-sm{
	margin-top:12px;
}
.margin-left-lg{
	margin-left:48px;
}
.margin-left-md{
	margin-left:24px;
}
.margin-left-sm{
	margin-left:12px;
}

.row{
	display:flex;
	gap:24px;
}
.row.space-between{
	justify-content:space-between;
}
.row.space-around{
	justify-content:space-around;
}
.row.space-around h3{
	text-align:center;
}

#column-town-map{flex-shrink:0}
#column-town-buildings{flex-grow:1}















.binary-list{
	max-height:250px;
	overflow-y:scroll;
	list-style:none;
	padding:0;
	margin:0;
}




/* SNACKBARS */
#snackbars{
	position:fixed;
	bottom:16px;
	right: 16px;

	display:flex;
	flex-direction:column;
	gap: 8px;
}
.snackbar{
	background-color:#232;
	color:white;
	min-width: 240px;
	padding: 0px 16px;
	border-radius:3px;
	overflow:hidden;
	height:0px;
	box-sizing:border-box;
	transition: all .5s;
}
.snackbar.open{
	height:48px;
	padding: 16px 16px;
	line-height:1;
}
.snackbar.snackbar-success{background-color:#4d8859;}
.snackbar.snackbar-warning{background-color:#f7e17b;}
.snackbar.snackbar-danger{background-color:#b72319;color:white;}







/* HEADER */
#header{
	display:none;
	background-color:#3c7748;
	color:white;
	position:fixed;
	top:0;left:0;
	width:100%;
	z-index:8000;
}
#header-wrapper{
	display:flex;
	justify-content:space-between;
	align-items: center;
}
#header-wrapper>div:first-child{
	position:relative;
	padding-left:68px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#header .logo{
	position:absolute;
	top:50%;
	margin-top:-20px;
	left:8px;
	width:40px;
	height:40px;
}
#tab-selector{margin-top:8px}
#tab-selector span{display:inline-block;color:white;padding:8px 14px;border-radius:4px;}
#tab-selector span:hover{background-color:#4d8859;cursor:pointer}
#tab-selector span.active{background-color:#edffcd;border:none;color:black}
#save-button{
	padding:10px 20px;
	color:#615415;
	font-size:110%;
	border-radius:3px;
	background-color:#f7e17b;
	border:none;
	border-bottom:3px solid #d7c16b;
	transition:all .1s;
}
#save-button:hover{
	background-color:#fff18b;
	border-color:#e7d17b;
}



#editor, #header-wrapper{
	max-width:1320px;
	margin-left:auto;
	margin-right:auto;
}
#editor{
	box-sizing:border-box;
	padding:130px 30px 30px;
	background-color:#fafafa;
}



/* ITEMS RIBBON */
#itemsribbon{
	background-color:#4d8859;
	padding:10px 15px;
	border-radius:3px;
	position: relative;
}
.popover-toggler{
	color:black;
	padding: 4px 18px 4px 8px !important;
	border-radius:3px;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
#popover-toggler-item{width:360px;}
.popover-toggler:hover{
	background-color:#f6ffe5;
	cursor:pointer;
	border:1px solid black !important;
}
.popover{
	display:none;
	position:absolute;
	background-color:rgba(255,255,255,.8);
	color:#222;
	border-radius:3px;
	box-shadow:0 2px 7px 1px rgba(0,0,0,.35);
	padding:10px;
	z-index:100;
	backdrop-filter:blur(3px);
	top: 44px;
}
.popover.open{display:block;}
#popover-item{
	left: 114px;
	width: 370px;
}
#popover-item select{
	width:100%;
}
#popover-flags{
	right: 8px;
}
#flags-value{
	font-size:85%;
	color:#666;
}
#items>optgroup::before{
	background-color:#777;
	color:white;
	padding:4px 8px;
	font-size:90%;
	margin-top:4px;
	border-radius:3px;
}

#search-input{
	padding-right:20px;
	background-image:url(sprites.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	box-sizing:border-box;
	width:100%;
}

#flag-known{
	display:flex;
	justify-content:space-around;
	align-items: center;
	gap:4px
}
#flag-bits{
	display:flex;
}
.flag-bit{
	display:inline-block;
	width:24px;
	text-align:center;
	font-size:12px;
	vertical-align:middle;
	border-radius:3px;
}
.flag-bit:hover{
	background-color:#eee;
	cursor:pointer;
}












/* GRID/ACRES */
#map-acres{
	display:grid;
	grid-template-columns:repeat(7, 1fr);
}
#island-acres{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
}

.grid{border:1px solid #777;display:inline-block}
.map{border-top:1px solid #777;border-left:1px solid #777;display:inline-block;line-height:0;position:relative}
.map .grid{border-left:none;border-top:none}
#map-map{max-width:805px}
#map-island{width:320px}

.room-container .grid{margin-right:10px}

#grass-quads{line-height:0;background-repeat:no-repeat;}
#grass-quads canvas{display:inline-block}










#move-building-overlay{
	position:absolute;
	background-color:rgba(255,255,255,.25);
	z-index:7999;
	width:100%;height:100%;
	top:0;left:0;
}
#move-building-overlay:hover{
	cursor:crosshair;
}

@keyframes tileglow{
	0%{background-color:yellow}
	50%{background-color:black}
	100%{background-color:yellow}
}
.glowing-tile{
	position:absolute;
	top:0;left:0;
	width:10px;height:10px;
	animation-name:tileglow;
	animation-duration:.4s;
	animation-iteration-count:infinite;
}
#move-building-message{
	background-color:#222;
	color:#eee;
	padding:10px;
	border-radius:4px;
	position:absolute;
	top:40%;left:50%;
	margin-left:-150px;
	width:280px;
	text-aligN:center;
	opacity:1;
	transition:opacity .2s;
	line-height:2; /* fix */
}
#move-building-overlay:hover #move-building-message{
	opacity:0;
}


#tooltip{
	display:none;
	position:absolute;
	top:0;left:0;
	padding:8px;
	border-radius:3px;
	color:white;
	background-color:rgba(0,0,0,.75);
	z-index:5000
}
#tooltip-hex{
	font-family:monospace;
	font-size:80%;
	color:#999
}

#dialog-acre{
	max-width:752px;
}
#acre-selector{
	display:grid;
	grid-template-columns:repeat(10, 1fr);
	height:420px;
	overflow-y:scroll;
	gap:8px;
	padding:8px;
}

.acre-button{
	width:64px;
	height:64px;
	padding:0;
	position:relative;
	margin:0;
	background-image:url(./acres.png);
}
.acre-button.selected{
	border-radius:3px;
	filter:brightness(75%);
	box-shadow: 0 0 0px 3px #c5f789;
}
.acre-button:hover{
	filter:brightness(115%);
	cursor:pointer;
	z-index:5000;
	border-radius:3px;
	box-shadow: 0 0 0px 3px #c5f789;
}
.acre-button img{
	position:absolute;
	top:0;
	right:0
}
.acre-button span{
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	color:white;
	background-color:rgba(0,0,0,.7);
	padding:2px 4px;
	border-radius:3px 0 0 0;
	font-size:75%;
	font-weight:bold;
	text-shadow:black 0 0 2px
}
.acre-button:hover span{display:block}


.building-list{
	max-height:640px;
	overflow-y:auto;
	list-style:none;
	padding:0;
	scrollbar-width: thin;
	margin: 0;
	padding-right: 4px;
}
.building-list li{display:block}
.building-list li.building-row{display:flex; align-items:center; justify-content: space-between; padding: 3px 2px 3px 5px; border-radius:3px}
.building-list li.building-row:hover{background-color:#eee}
.building-list li.building-row .div-coord{float:right}
.building-list li.building-row input[type="text"]{font-family:var(--font-monospace); width:32px}

.edit-icon{margin-left:5px;opacity:.1;transition:opacity .2s}
span.editable:hover>.edit-icon,tr:hover .edit-icon,div:hover>.edit-icon{opacity:1}
.edit-icon:hover{cursor:pointer}
span.editable:hover{text-decoration:underline;cursor:pointer}




/* PATTERNS */
.pattern, #tooltip-pattern{
	width:64px;
	height:64px;
	image-rendering:pixelated;
}
.pattern:hover{border-radius:3px; cursor:pointer; box-shadow:#c5f789 0 0 0 3px;}
#pattern-preview{
	width:96px;
	height:96px;
	image-rendering:pixelated;
}

.player-patterns{
	display:grid;
	grid-template-columns:repeat(5, 64px);
	gap:4px;
}
.patterns-labelle{
	display:grid;
	grid-template-columns:repeat(4, 64px);
	gap:4px;
}



/* PLAYER SELECTOR */
.player-button{
	padding:6px 12px;
	background-color:#f0f0f0;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 #f8f8f8;
	border:none;
	color:#333;

	background-image:linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat:repeat-x;
	border-width:1px;
	border-style:solid;
	border-color:#ccc #ccc #b3b3b3;
	border-radius:2px;
}
.player-button:disabled{opacity:.35}
.player-button:hover{
	background-image:none;
	background-color:#e0e0e0;
	background-image:linear-gradient(to bottom, #f0f0f0, #e0e0e0);
	text-shadow:none;
	color:#444;
}
.player-button:active,.player-button.active{
	background-image:none;
	transform:translate(0px,1px);
	background-color:#ddd;
	border-color:#888;
	text-shadow:none;
	box-shadow:0 2px 8px -3px rgba(0, 0, 0, 0.75) inset;
}


#span-hair-style{
	display:inline-block;
	width:44px;
	height:42px;
	background-image:url('./sprites.png');
	vertical-align:middle;
}
#span-hair-color,#span-eye-color{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	border-radius:8px;
}
#span-face{
	display:inline-block;
	width:40px;
	height:16px;
	background-image:url('./sprites.png');
	vertical-align:middle;
	border-radius:4px;
}

/* BADGES */
#badges{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	gap:2px;
	list-style:none;
	padding:0;
	margin:0
}
#badges li{
	border-radius:2px;
	transition:all .1s;
	padding:2px
}
#badges li:hover{
	cursor:pointer;
	background-color:#eee
}
.badge-icon{background-image:url('./sprites.png');width:28px;height:28px;display:inline-block;vertical-align:middle;margin-right:4px}




#villager-pic{display:inline-block;width:64px;height:64px;vertical-align:middle}




/* FORMS */
input,select,button{font-size:100%;font-family:inherit;outline:none}
input[type="text"],select,.popover-toggler{background-color:white; max-width:100%;box-sizing:border-box;border:1px solid #999;padding:4px 6px;border-radius:3px;}
.popover-toggler{border:1px solid #1d5328}
input[type="text"]:hover,select:hover,.popover-toggler:hover{border-color:#3fb31e}
input[type="text"]:focus,select:focus,.popover-toggler:focus{border-color:#3fb31e;box-shadow:#c5f789 0 0 0 3px;}
input[type="text"].time{width:50px}


button,
#dialog-quick-confirm .buttons>input,
#dialog-quick-alert .buttons>input
{
	padding:7px 15px;
	color:#4f4f4f;
	border-radius:3px;
	background-color:#e8e8e8;
	border:none;
	border-bottom:3px solid #d0d0d0;
	transition:all .1s;
}
button:not(:disabled):hover,
#dialog-quick-confirm .buttons>input:not(:disabled):hover,
#dialog-quick-alert .buttons>input:not(:disabled):hover{
	cursor:pointer;
	background-color:#f3f3f3;
	border-bottom:3px solid #e8e8e8;
}
button:disabled,
#dialog-quick-confirm .buttons>input:disabled,
#dialog-quick-alert .buttons>input:disabled{
	opacity:.35
}

button:not(.popover-toggler):not(:disabled):active,
#dialog-quick-confirm .buttons>input:not(:disabled):active,
#dialog-quick-alert .buttons>input:not(:disabled):active{
	transform:translate(0px,1px);
}
#dialog-quick-confirm .button-accept{margin-right:8px;}
button.blue{background-color:#2991bf;border-color:#1e6a8d;text-shadow:0 -1px 0 #20749a;color:white}
button.blue:hover{background-color:#49b1df;border-color:#3e8aad;text-shadow:0 -1px 0 #4094ba;}
button.orange{background-color:#f1bb09;border-color:#d1a40f;text-shadow:0 -1px 0 #e6b30b;color:white}
button.orange:hover{background-color:#ffcb1f;border-color:#e2b215;text-shadow:0 -1px 0 #eeba10;color:white}
button.red{background-color:#b72319;border-color:#951d15;text-shadow:0 -1px 0 #a01d15;color:white}
button.red:hover{background-color:#bf261c;border-color:#871a13;text-shadow:0 -1px 0 #8b1b14;color:white}
button.green{background-color:#59b259 !important;background-image:linear-gradient(to bottom, #61c261, #51a351) !important;border-color:#52a452 #4f9f4f #448944 !important;text-shadow:0 -1px 0 #37a137 !important;color:white !important}
button.green:hover{background-color:#278AB7 !important;background-image:linear-gradient(to bottom, #64ce64, #51a351) !important;border-color:#3f7f3f !important;text-shadow:0 -1px 0 #1c9216 !important;color:white !important}



#button-warnings{
	font-weight:bold;
	width:128px;
}
#button-warnings>*{
	display:inline-block;
	vertical-align:middle;	
}
#button-warnings>svg{
	height:16px;
}








select, #itemsribbon .popover-toggler{
	background-image:url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" xml%3Aspace%3D"preserve" x%3D"12" viewBox%3D"0 0 6 3"%3E%3Cpath d%3D"m5.99 0-3 3-3-3z"%2F%3E%3C%2Fsvg%3E');
	background-position: right 6px center;
	background-size:6px auto;
	background-repeat:no-repeat;
}
select{
	padding-right:20px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-overflow:'';
	border-radius:3px;
}
select::-ms-expand{display:none}






/* MarcDialogs.js */
.dialog-overlay,.dialog{visibility:hidden;opacity:0}
.dialog-overlay.active,.dialog.active{visibility:visible;opacity:1;transition-delay:0s/* fixes fade-in/fade-out*/}
.dialog-overlay{transition:visibility 0s .35s, opacity .35s;background-color:black;background-color:rgba(0,0,0,.75)}
.dialog{
	position:absolute;
	top:0;
	left:0;
	transform:translateY(-8px);
	transition:visibility 0s .15s, opacity .15s ease-in, transform .15s ease-in;

	background-color:white;
	padding:15px;
	min-width:360px;
	max-width:500px;
	border-radius:3px;
	box-shadow:rgba(0,0,0,.65) 0 0 15px;
	line-height:1.8;

	text-align:center
}
.dialog.no-padding{padding:0px}
.dialog.active{transform:translateY(0px)}
.dialog .buttons{margin-top:20px;text-align:center}

#dialog-disclaimer{
	background-color:#fff888;
	padding:20px;
	margin:100px auto 0;
	text-align:center;
	border-radius:4px;
	box-shadow:black 0 0 10px;
	font-size:100%;
}
